
.splide__arrow {
	background: none !important;
}

.splide__arrow svg {
  @apply !w-full !h-full;
}

.splide__arrow--prev {
		@apply xl:!-left-12;
}

.splide__arrow--next {
  @apply xl:!-right-12;
}

#splide-gallery .splide__arrow--prev {
  @apply xl:!left-[6rem] z-[99];
}

#splide-gallery .splide__arrow--next {
@apply xl:!right-[6rem] z-[99];
}

.gallery-slider .splide__arrow--prev {
  @apply xl:!left-[4rem] z-[99];
}

.gallery-slider .splide__arrow--next {
@apply xl:!right-[4rem] z-[99];
}

.gallery-slider .splide__arrow svg {
  fill: rgba(255,255,255,0.8) !important;
}

.ti-prev {
  @apply xl:!-left-8;
}

.ti-next {
  @apply xl:!-right-8;
}

.ti-widget {
  @apply grayscale opacity-80 hover:grayscale-0 hover:opacity-100 cursor-pointer;
}

.home .splide__pagination .splide__pagination__page {
	transition: background 0.2s ease-out, opacity 0.2s ease-out, width 0.2s ease-out;
  border-radius: 6px;
	background: #fff;
}

.splide__pagination .splide__pagination__page {
	transition: background 0.2s ease-out, opacity 0.2s ease-out, width 0.2s ease-out;
  border-radius: 6px;
	background: rgba(#0E3932, 0.5);
}

.home .splide__pagination .splide__pagination__page.is-active {
  background: #feeb83;
  opacity: 1;
  width: 52px !important;
  transform: none;
}

.splide__pagination .splide__pagination__page.is-active {
  background: #0E3932;
  opacity: 1;
  width: 52px !important;
  transform: none;
}

.splide__pagination {
  @apply !-bottom-[50px] sm:!-bottom-[90px] px-6;
}

.home #splide-home .splide__pagination {
  @apply !bottom-[50px] ;
}

.home #splide-news .splide__pagination {
  @apply !-bottom-[37px] sm:left-[24px] mr-auto right-auto;
}

.splide__pagination__page {
	@apply !h-3.5 !w-3.5;
}

.splide__arrow {
  @apply !h-6;
}

.splide__arrow svg {
  fill: #0E3932 !important;
}

.splide .custom-arrows,
.ti-prev,
.ti-next {
  @apply opacity-0;
  transition: opacity 0.3s ease;
}

.hero:hover .custom-arrows,
.splide:hover .custom-arrows,
.gallery-slider:hover .custom-arrows,
.bg-cover:hover .custom-arrows,
.ti-widget:hover .ti-prev,
.ti-widget:hover .ti-next {
  @apply !opacity-100 z-[9999];
}

@media (min-width:1440px) {
  #splide-gallery .splide__slide:nth-child(1 of .is-visible),
  #splide-gallery .splide__slide:nth-child(4 of .is-visible) {
    @apply relative opacity-40;
	}
}

@media (min-width:1280px) {
  #splide-gallery .splide__slide:nth-child(2 of .is-visible)::after {
    content: url('images/frame-left.svg');
    @apply absolute -left-[18px] -top-5 w-[75px] h-[77px] z-[999];
  }

  #splide-gallery .splide__slide:nth-child(3 of .is-visible)::after {
    content: url('images/frame-right.svg');
    @apply absolute -right-[18px] -bottom-5 w-[75px] h-[77px] z-[999];
  }
}